/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 9px;
  margin-right: 9px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 1104px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width:1104px;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:74px;
}

.container_12 .grid_2 {
	width:166px;
}

.container_12 .grid_3 {
	width:258px;
}

.container_12 .grid_4 {
	width:350px;
}

.container_12 .grid_5 {
	width:442px;
}

.container_12 .grid_6 {
	width:534px;
}

.container_12 .grid_7 {
	width:626px;
}

.container_12 .grid_8 {
	width:718px;
}

.container_12 .grid_9 {
	width:810px;
}

.container_12 .grid_10 {
	width:902px;
}

.container_12 .grid_11 {
	width:994px;
}

.container_12 .grid_12 {
	width:1086px;
}




/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
	padding-left:92px;
}

.container_12 .prefix_2 {
	padding-left:184px;
}

.container_12 .prefix_3 {
	padding-left:276px;
}

.container_12 .prefix_4 {
	padding-left:368px;
}

.container_12 .prefix_5 {
	padding-left:460px;
}

.container_12 .prefix_6 {
	padding-left:552px;
}

.container_12 .prefix_7 {
	padding-left:644px;
}

.container_12 .prefix_8 {
	padding-left:736px;
}

.container_12 .prefix_9 {
	padding-left:828px;
}

.container_12 .prefix_10 {
	padding-left:920px;
}

.container_12 .prefix_11 {
	padding-left:1012px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
	padding-right:92px;
}

.container_12 .suffix_2 {
	padding-right:184px;
}

.container_12 .suffix_3 {
	padding-right:276px;
}

.container_12 .suffix_4 {
	padding-right:368px;
}

.container_12 .suffix_5 {
	padding-right:460px;
}

.container_12 .suffix_6 {
	padding-right:552px;
}

.container_12 .suffix_7 {
	padding-right:644px;
}

.container_12 .suffix_8 {
	padding-right:736px;
}

.container_12 .suffix_9 {
	padding-right:828px;
}

.container_12 .suffix_10 {
	padding-right:920px;
}

.container_12 .suffix_11 {
	padding-right:1012px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
	left:92px;
}

.container_12 .push_2 {
	left:184px;
}

.container_12 .push_3 {
	left:276px;
}

.container_12 .push_4 {
	left:368px;
}

.container_12 .push_5 {
	left:460px;
}

.container_12 .push_6 {
	left:552px;
}

.container_12 .push_7 {
	left:644px;
}

.container_12 .push_8 {
	left:736px;
}

.container_12 .push_9 {
	left:828px;
}

.container_12 .push_10 {
	left:920px;
}

.container_12 .push_11 {
	left:1012px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
	left:-92px;
}

.container_12 .pull_2 {
	left:-184px;
}

.container_12 .pull_3 {
	left:-276px;
}

.container_12 .pull_4 {
	left:-368px;
}

.container_12 .pull_5 {
	left:-460px;
}

.container_12 .pull_6 {
	left:-552px;
}

.container_12 .pull_7 {
	left:-644px;
}

.container_12 .pull_8 {
	left:-736px;
}

.container_12 .pull_9 {
	left:-828px;
}

.container_12 .pull_10 {
	left:-920px;
}

.container_12 .pull_11 {
	left:-1012px;
}


